<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Pokedex</a>
  </div>
  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="end">
    <ul class="navigation-items" fxLayout fxLayoutGap="15px">
      <li>
        <a>
          <mat-icon class="icon">bookmark</mat-icon>
          <span class="label">Menu 1</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
