<div mat-dialog-content>
  {{message}}
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No</button>
  <button [mat-dialog-close]="true" cdkFocusInitial mat-button>Yes</button>
</div>
